{{ partial "ads/footer.html" . }}

{{ partial "js.html" . }}
<hr>

 <div class="FMID">
	<span><a href="https://t.me/ppsspp_emulator"><img src="/img/media/telegram.png" alt="icon sosmed svg" class="ICON"></img></a></span>
 </div>

<hr>
<footer>
	<div class="FOOTERR">
		<div class="p_footer MID"><a href="https://androidsmart.github.io">AndroidSmart</a></div>
	<div class="p_footer MID"><a href="https://litegapps.github.io">LiteGapps</a></div>
	<div class="p_footer MID"><a href="https://aethersx2.gitlab.io">AetherSX2</a></div>
     <p>Copyright &copy; {{ now.Format "2006"}} ppssppp.github.io</p>
	</div>
</footer>
