<section class="service">
<div class="container">
<div class="service-content">
<div class="hero-content titleku">

<p class="service-text textku">Name = {{ .Title }}</p>
{{ if .Params.genre }}
<p class="service-text textku">Genre = {{ .Params.genre }}</p>
{{ end }}

{{ if .Params.size }}
<p class="service-text textku">Size = {{ .Params.size }}</p>
{{ end }}


	<p class="hero-subtitle titleku">Download Link</p>
</div>
<div class="hero-content titleku">

<!-- Adstera -->
<p class="linkku">
<a href="https://www.toprevenuegate.com/b9p0mwvwgs?key=c882ea866d79e457f018e720ee79a171">
Download Telegram 0
</a>
</p>

<!-- monetag ads -->
<p class="linkku">
<a href="https://itespurrom.com/4/6708285">
Download Telegram 1
</a>
</p>




{{ if .Params.telegram }}
<p class="linkku">
<a href="{{ .Params.telegram }}">Download Telegram 2
</a>
</p>
{{ end }}

<p class="linkku">
<a href="https://www.toprevenuegate.com/b9p0mwvwgs?key=c882ea866d79e457f018e720ee79a171">
Download Google Drive 1
</a>
</p>




{{ if .Params.drive }}
<p class="linkku">
<a href="{{ .Params.drive }}">
Download Google Drive 2
</a>
</p>
{{ end }}

<!-- my exblog -->
<p><a href="https://duit.exblog.jp">exblog</a></p>

</div>
</div>
</section>



